
*.db
*.env

ai_note_book/.idea
ai_note_book/.vscode    
__pycache__/

*.DS_Store

ai_note_book/static/assets/
ai_note_book/static/icons/
ai_note_book/static/canvaskit/
*.wav
*.mp3

ai_note_book/backend/